# KiCad backup and temporary files
*.bak
*.kicad_prl
*-bak
*-backups/
_autosave-*
*.lck

# Manufacturing outputs (optional - see below)
*.gbr
*.drl
*.rpt

# Ignore kicad lock files
*.lck
# Ignore build directory
build/*
# Ignore KiCAD backup archives
kicad_files/sodiumBMS-backups
# Ignore a small note louis made to himself
bjtnotes.txt